@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity)) /* #0f172a */;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
  color: rgb(0, 255, 179);
}